@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

.a_head {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.author-small {
    font-size: 0.91667em
    }
.b_head {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.basic-table {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-collapse: collapse;
    border-left-color: #7956a3;
    border-left-style: solid;
    border-left-width: 2pt;
    border-right-color: #7956a3;
    border-right-style: solid;
    border-right-width: 2pt;
    border-spacing: 2px;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 2pt;
    display: table;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 100%
    }
.bm-title {
    color: #619dc7;
    display: block;
    font-size: 2em;
    line-height: 1.35em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.bm-title1 {
    color: #619dc7;
    display: block;
    font-size: 2em;
    line-height: 1.35em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.body_dropcap {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: justify;
    text-indent: 0
    }
.body_indent {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.body-right {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 1em;
    margin-left: 20%;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.bq {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.bq-black {
    display: block;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.btip-g {
    background-color: #b4dcb7;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em
    }
.btip-or {
    background-color: #fcbc7e;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em
    }
.btip-v {
    background-color: #b0a3d0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em
    }
.bul {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.bull {
    display: block;
    list-style-type: disc;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em
    }
.bull-black {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.bull-g {
    display: block;
    list-style-type: disc;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 1.3em;
    margin-top: 1.3em
    }
.bull-part {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.c_head {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    text-decoration: none
    }
.calibre4 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    height: 55px;
    width: 225px
    }
.calibre7 {
    display: list-item;
    font-size: 1em;
    line-height: 1.35em;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.2em;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: -0.9em
    }
.calibre8 {
    display: list-item;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre9 {
    display: table-row;
    vertical-align: middle
    }
.calibre10 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre11 {
    display: list-item;
    font-size: 1em;
    line-height: 1.35em;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.2em;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: -0.9em
    }
.calibre12 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre13 {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre14 {
    display: list-item;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: justify
    }
.calibre15 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em
    }
.calibre16 {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: -0.6em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: justify
    }
.calibre17 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre18 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre19 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.case-study {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em
    }
.case-text {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -1.5em
    }
.ch-cn {
    color: #de8f3c;
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.1em;
    padding-top: 0;
    vertical-align: middle
    }
.ch-cng {
    color: #64a987;
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.1em;
    padding-top: 0;
    vertical-align: middle
    }
.ch-cnv {
    color: #7956a3;
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.1em;
    padding-top: 0;
    vertical-align: middle
    }
.ch-head {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.ch-head1 {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.ch-table {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 100%
    }
.chopen-epi {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 5em
    }
.co_pt_ii_text {
    border-bottom-color: #64a987;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #64a987;
    border-left-style: solid;
    border-left-width: 1pt;
    border-radius: 10px;
    border-right-color: #64a987;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #64a987;
    border-top-style: solid;
    border-top-width: 1pt;
    color: #64a987;
    display: block;
    float: right;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    page-break-inside: avoid;
    width: 30%
    }
.co_pt_iii_text {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #7956a3;
    border-left-style: solid;
    border-left-width: 1pt;
    border-radius: 10px;
    border-right-color: #7956a3;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 1pt;
    color: #7956a3;
    display: block;
    float: right;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    page-break-inside: avoid;
    width: 30%
    }
.co_pti_text {
    border-bottom-color: #de8f3c;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #de8f3c;
    border-left-style: solid;
    border-left-width: 1pt;
    border-radius: 10px;
    border-right-color: #de8f3c;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #de8f3c;
    border-top-style: solid;
    border-top-width: 1pt;
    color: #de8f3c;
    display: block;
    float: right;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    page-break-inside: avoid;
    width: 30%
    }
.conclu {
    color: #7956a3;
    font-size: 1em;
    line-height: 1.2
    }
.contents_ch {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 3.5em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -1.5em
    }
.contents_figs-tabs {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 2.4em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -1.8em
    }
.contents_figs-tabs1 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 2.4em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -2.3em
    }
.contents_no-indent_text {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 4.2em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -4.2em
    }
.contents_part-i {
    color: #de8f3c;
    display: block;
    font-size: 1.41667em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 2.7em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -2.7em
    }
.contents_part-ii {
    color: #64a987;
    display: block;
    font-size: 1.41667em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -3em
    }
.contents_part-ii-green {
    color: #40ac4b;
    display: block;
    font-size: 1.41667em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.contents_part-iii {
    color: #7956a3;
    display: block;
    font-size: 1.41667em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 3.3em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -3.3em
    }
.contents-fm-bm {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: 0
    }
.copy_logo {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.cover {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.cs_names {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.cs_no-indent {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.cs_no-indent_-1a {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.cs_pti_indent_rule-below {
    border-bottom-color: #fcbc7e;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-align: justify;
    text-indent: 1.5em
    }
.cs_ptii_indent_rule-below {
    border-bottom-color: #64a987;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-align: justify;
    text-indent: 1.5em
    }
.cs_ptiii_indent_rule-below {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-align: justify;
    text-indent: 1.5em
    }
.cs_title_pti {
    border-bottom-color: #fcbc7e;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-top-color: #fcbc7e;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3em;
    text-align: left;
    text-transform: uppercase
    }
.cs_title_ptii {
    border-bottom-color: #64a987;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-top-color: #64a987;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3em;
    text-align: left;
    text-transform: uppercase
    }
.cs_title_ptiii {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3em;
    text-align: left;
    text-transform: uppercase
    }
.cx-text {
    display: block;
    font-size: 0.75em;
    line-height: 1.38em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.cx-text1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.38em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.ded {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0
    }
.ded1 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.ded2 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 2em;
    text-align: left;
    text-indent: 0
    }
.ded3 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.dedication {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-right: 1em
    }
.dropcap {
    color: #619dc7;
    float: left;
    font-size: 300%;
    line-height: 1.6em;
    margin-bottom: -0.8em;
    margin-left: 0;
    margin-top: -0.22em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0.02em;
    padding-top: 0
    }
.dropcap1 {
    color: #de8f3c;
    float: left;
    font-size: 300%;
    line-height: 1.6em;
    margin-bottom: -0.8em;
    margin-left: 0;
    margin-top: -0.22em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0.02em;
    padding-top: 0
    }
.dropcapg {
    color: #64a987;
    float: left;
    font-size: 300%;
    line-height: 1.6em;
    margin-bottom: -0.8em;
    margin-left: 0;
    margin-top: -0.22em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0.02em;
    padding-top: 0
    }
.dropcapv {
    color: #7956a3;
    float: left;
    font-size: 300%;
    line-height: 1.6em;
    margin-bottom: -0.8em;
    margin-left: 0;
    margin-top: -0.22em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0.02em;
    padding-top: 0
    }
.en {
    font-size: 0.75em;
    vertical-align: super
    }
.en1 {
    font-size: 0.77778em;
    vertical-align: super
    }
.epi_credit {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: right;
    text-indent: 0
    }
.epi_text {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.fig_caption {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.fig_caption1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1em;
    text-align: center;
    text-indent: 0
    }
.float {
    float: left;
    height: 14em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    width: auto
    }
.fm-title {
    color: #619dc7;
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.fm-title1 {
    color: #619dc7;
    display: block;
    font-size: 2em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.full-image {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    width: 70%
    }
.full-image1 {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    width: 80%
    }
.glossary_entry_v {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.hrline {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    margin-bottom: 2.5em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em
    }
.image {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.index_1st_level {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -2em
    }
.index_2nd_level {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -1.5em
    }
.index_section-break {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.inline {
    height: 3em;
    width: auto
    }
.inline1 {
    height: 16em;
    width: auto
    }
.kp_a_head {
    display: block;
    font-size: 1.41667em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.kp_title {
    display: block;
    font-size: 2em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.note {
    border-bottom-color: #de8f3c;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #de8f3c;
    border-left-style: solid;
    border-left-width: 2pt;
    border-radius: 0;
    border-right-color: #de8f3c;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #de8f3c;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    width: 80%
    }
.note_pt1_indent {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: justify;
    text-indent: 1.5em
    }
.note_pt1_no-indent_-1b {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: justify
    }
.note_pt1_no-indent_ntbs {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    text-align: justify
    }
.note_pt1_no-indent_sub {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: justify
    }
.note_pt1_no-indent_ts {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    text-align: justify
    }
.note_pt1_title {
    background-color: #fcbc7e;
    border-bottom-color: #de8f3c;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.8em
    }
.note_ptii_title {
    background-color: #b4dcb7;
    border-bottom-color: #64a987;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.8em
    }
.note_ptiii_title {
    background-color: #b0a3d0;
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.8em
    }
.note-g {
    border-bottom-color: #64a987;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #64a987;
    border-left-style: solid;
    border-left-width: 2pt;
    border-radius: 0;
    border-right-color: #64a987;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #64a987;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    width: 80%
    }
.note-v {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #7956a3;
    border-left-style: solid;
    border-left-width: 2pt;
    border-radius: 0;
    border-right-color: #7956a3;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    width: 80%
    }
.notes_head {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.notes_single {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: right;
    text-indent: 0
    }
.notes_single1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: justify;
    text-indent: 0
    }
.pageavoid {
    display: block;
    page-break-inside: avoid
    }
.part {
    color: #de8f3c
    }
.part1 {
    color: #64a987
    }
.part2 {
    color: #7956a3
    }
.pcalibre1 {
    display: list-item;
    font-size: 1em;
    line-height: 1.35em;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: -0.8em
    }
.pn {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.pn-line {
    line-height: 1.2
    }
.praise-credit {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 1em;
    margin-left: 20%;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: right;
    text-indent: 0
    }
.praise-sub {
    display: block;
    font-size: 1.83333em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.praise-text {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.praise-title {
    display: block;
    font-size: 2em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.pt {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.ref {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: -1.5em
    }
.sub-title {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.tab_caption {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.tablehead {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.tabletext {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.tabletextc {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.tdch-text {
    display: table-cell;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: middle;
    width: 8%
    }
.tdch-text1 {
    display: table-cell;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: middle
    }
.tdhead {
    background-color: #b0a3d0;
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #7956a3;
    border-left-style: solid;
    border-left-width: 2pt;
    border-right-color: #7956a3;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 2pt;
    display: table-cell;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
    text-align: inherit;
    vertical-align: top
    }
.tdtext {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #7956a3;
    border-left-style: solid;
    border-left-width: 2pt;
    border-right-color: #7956a3;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 2pt;
    display: table-cell;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    text-align: inherit;
    vertical-align: top;
    width: 50%
    }
.tdtext1 {
    border-bottom-color: #7956a3;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #7956a3;
    border-left-style: solid;
    border-left-width: 2pt;
    border-right-color: #7956a3;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #7956a3;
    border-top-style: solid;
    border-top-width: 2pt;
    display: table-cell;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    text-align: inherit;
    vertical-align: top
    }
.tip {
    border-radius: 0;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    width: 90%
    }
.tip_pt1_no-indent {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    text-align: justify
    }
.tip_pt1_no-indent_-1b {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2em;
    text-align: justify
    }
.tip_pt1_no-indent_-1bts {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7em;
    text-align: justify
    }
.tip_pt1_title_pg-btm {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 1em;
    padding-top: 0;
    text-align: justify
    }
.tip1 {
    background-color: #fcbc7e;
    border-bottom-color: #fcbc7e;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #fcbc7e;
    border-left-style: solid;
    border-left-width: 2pt;
    border-radius: 0;
    border-right-color: #fcbc7e;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #fcbc7e;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0
    }
.tip1pg {
    border-radius: 0;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    page-break-inside: avoid;
    width: 90%
    }
.tipg {
    background-color: #b4dcb7;
    border-bottom-color: #b4dcb7;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #b4dcb7;
    border-left-style: solid;
    border-left-width: 2pt;
    border-radius: 0;
    border-right-color: #b4dcb7;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #b4dcb7;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0
    }
.tipv {
    background-color: #b0a3d0;
    border-bottom-color: #b0a3d0;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-left-color: #b0a3d0;
    border-left-style: solid;
    border-left-width: 2pt;
    border-radius: 0;
    border-right-color: #b0a3d0;
    border-right-style: solid;
    border-right-width: 2pt;
    border-top-color: #b0a3d0;
    border-top-style: solid;
    border-top-width: 2pt;
    display: block;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0
    }
.tit-author {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.tit-logo {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4em;
    text-align: center;
    text-indent: 0
    }
.title {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.title_auth-names {
    display: block;
    font-size: 1.83333em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.ul {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.ul_-1a {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.ul_-1b {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.width {
    height: auto;
    width: 100%
    }
.pcalibre2:before {
    color: #619dc7;
    content: "○";
    font-size: 0.6em;
    padding-right: 0.3em
    }
.pcalibre3:before {
    color: #de8f3c;
    content: "•";
    font-size: 1.5em;
    padding-right: 0.3em
    }
.pcalibre4:before {
    color: #de8f3c;
    content: "■";
    font-size: 1em;
    padding-bottom: 0.4em;
    padding-right: 0.3em;
    vertical-align: middle
    }
.pcalibre5:before {
    color: #64a987;
    content: "•";
    font-size: 1.5em;
    padding-right: 0.3em
    }
.pcalibre6:before {
    color: #7956a3;
    content: "•";
    font-size: 1.5em;
    padding-right: 0.3em
    }
.pcalibre:before {
    color: #619dc7;
    content: "•";
    font-size: 1.5em;
    padding-right: 0.3em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "BrandonGrotesqueLightItalic";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "BrandonGrotesqueMedium";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "BrandonGrotesqueBold";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ChaparralPro-Regular";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ChaparralPro-Italic";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ChaparralPro-Bold";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ChaparralPro-Semibold";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ChaparralPro-Light";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ChaparralPro-LightIt";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-DmCd";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-MdCd";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-Med";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-Hvy";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-BkCdIt";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-BkCd";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-Book";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-HvyIt";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-Demi";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ITCFranklinGothicStd-BookIt";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }

